PORT=5000
MONGO_URI=mongodb+srv://amitkumarstm1507_db_user:H12L2JIECZnUcfsw@cluster0.bspsjmv.mongodb.net/?appName=Cluster0
JWT_SECRET=amit74511507
NODE_ENV=development

# amitkumarstm1507_db_user
# H12L2JIECZnUcfsw